#body {
    background-color: white;
}
#empadas {
    background-color: orange;
    color: orangered;
    text-align: center;
    padding: 10px;
}
#liks {
    background-color: whitesmoke;
    text-align: center;
    padding: 15px;
}
#delicia {
    background-color: blanchedalmond;
    color: orangered;
    margin-left: 90px;
    margin-right: 110px;
}
a {
    text-decoration: none;
    margin-left: 10px;
}